body {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    background-image: url("../WEB-PIC/Background/timg.jpeg");
}

.result{
    margin-top: 70px;
}

.result>form{
    width: 100%;
}

/*清除浮动*/
.clearfloat:after {
    display: block;
    clear: both;
    content: "";
    visibility: hidden;
}

/*清除浮动*/
.clearfloat {
    zoom: 1;
    overflow: hidden;
}

