
body {
    margin: 0 auto;
    text-align: center;
}

/*搜索*/
.search {
    margin-top: 60px;
    margin-left: 20px;
}

.result{
    margin-top: 50px;
    margin-left: 20px;
}

/*为所有容器设定外边距*/
.container-fluid {
    margin-top: 5px;
}

/*清除浮动*/
.clearfloat:after {
    display: block;
    clear: both;
    content: "";
    visibility: hidden;
}

/*清除浮动*/
.clearfloat {
    zoom: 1;
    overflow: hidden;
}

/*超大屏幕和书籍排名*/
#jum_but {
    height: 300px;
    margin-top: 10px;
}


/*超大屏幕旁的排名栏*/
.ranking {
    background-color: #b9e563;
    float: right;
    width: 30%;
    height: 100%;
}

/*放所有书的盒子*/
#bookbox {
    height: 700px;
    width: 100%;
}



/*页脚*/
footer{
    margin-top: 10px;
    height: 50px;
    background-color: #979ea7;
    /*清理左右浮动，让它不受上面的浮动的干扰*/
    clear: both;
    color: #f2f2f2;
}