/*为了让div的高度能使用页面的高度,html元素要设置100%的高度*/
html {
    height: 100%;
}

/*全体居中*/
body {
    margin: 0 auto;
    text-align: center;
    height: 100%;
    background-image: url("../WEB-PIC/Background/timg.jpeg");
    overflow: hidden;
}

/*主体区域*/
article{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    background-color: #fff3cd;
    margin-top: 5%;
    height: 87%;
}


/*容器高度为主体区域的百分比*/
.container {
    height: 100%;
    background-color: #f8d7da;
    overflow: hidden;
}

/*内容盒子*/
.tabBox{
    height: 75%;
    background-color: #ffeeba;
    overflow: hidden;
}

/*切换盒子*/
#tabBox>.tabdiv{
    clear: both;
    width: 100%;
    height: 400px;
    background-color: white;
    margin: 0 auto;
    /*先全隐藏,为第一个盒子覆写显示*/
    display: none;
}

/*切换栏目总盒子*/
#tab{
    overflow: hidden;
    width: 100%;
    border: 3px solid #CCCCCC;
}

/*切换栏目*/
#tab>h3{
    margin: 0;
    float: left;
    text-align: center;
    width: 25%;
    height: 30px;
    background-color: #CCCCCC;
}

/*激活状态*/
#tab .active{
    background-color: white;
    color: black;
}

/*放卡牌图片的盒子*/
.picdiv{
    background-color: #171a1d;
    float: left;
    width: 650px;
    height: 335px;
    margin-left: 3%;
    margin-top: 3%;
}

/*盒子里的图片,不能超过盒子*/
.picdiv>img{
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
}

/*卡牌图片盒子右边的描述盒子*/
.describe{
    width: 300px;
    height: 335px;
    float: right;
    margin-right: 3%;
    margin-top: 3%;
    background-color: #ffeeba;
}
