html{
    width: 100%;
}

body{
    width: 100%;
    margin: 0 auto;
    text-align: center;
    background-image: url("../WEB-PIC/Background/timg.jpeg");
}

/*顶部*/
header{
    width: 90%;
    margin: 4% auto 0 auto;
    height: 400px;
    /*margin-top: 4%;*/
    background-color: #b9e563;
}

header>div{
    overflow: hidden;
}

/*添加和试读按钮*/
header>div>a{
    width: 40px;
    height: 250px;
    margin-top: 25px;
    margin-left: 13px;
    float: left;
}
/*按钮里的文字*/
header>div>a>p{
    margin: 70px auto 0 auto;
}

/*标题盒子*/
#ttlbox{
    width: 100%;
    height: 100px;
    text-align: center;
    background-color: #abdde5;
    font-size: 60px;
}

/*图片盒子*/
#picbox{
    width: 250px;
    height: 250px;
    background-color: white;
    float: left;
    margin-top: 25px;
    margin-left: 130px;
    border: 4px solid royalblue;
    /*transform: rotate(30deg);*/
    /*transform: skewX(-30deg);*/
}

/*书内的图片,不能超过盒子*/
#picbox > img {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
}

/*书籍的描述盒子*/
#wordbox{
    width: 46%;
    height: 250px;
    float: left;
    margin-left: 20px;
    margin-top: 25px;
    background-color: #80bdff;
    font-size: 20px;
}

article{
    width: 100%;
    background-color: #9088ec;
    text-align: center;
}

/*留言盒子*/
article>#leave{
    width: 90%;
    margin: 0 auto;
    height: 400px;
    background-color: #80bdff;
}

/*提交表单*/
#leave>form{
    width: 100%;
    height: 100%;
    overflow: hidden;
}

/*文本区域*/
#leave>form>textarea{
    width: 90%;
    margin: 20px auto 0 auto;
    height: 80%;
}

/*按钮盒子*/
#leave>form>div{
    overflow: hidden;
    margin: 10px 0;
    padding-right: 170px;
}

/*盒子里的按钮*/
#leave>form>div>input{
    float: right;
    margin-right: 20px;
}

/*已经存在的留言*/
article>.exist{
    width: 90%;
    margin: 0 auto;
    height: 240px;
    background-color: #f8d7da;
    overflow: hidden;
    border: 2px solid #9088ec;
}

/*用户头像盒子(共)*/
article>.exist>.usrpicbox{
    width: 200px;
    height: 200px;
    margin-top: 20px;
}

/*用户头像盒子(A类)*/
article>.exist-B>.usrpicbox{
    float: left;
    margin-left: 180px;
}

/*用户头像盒子(B类)*/
article>.exist-A>.usrpicbox{
    float: right;
    margin-right: 200px;
}

/*用户头像图片*/
article>.exist>.usrpicbox>img{
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    border-radius:50%;
}