html{
    width: 100%;
}

body{
    width: 100%;
    margin: 0 auto;
    text-align: center;
    background-image: url("../WEB-PIC/Background/timg.jpeg");
}

/*顶部*/
header{
    width: 90%;
    margin: 4% auto 0 auto;
    height: 400px;
    /*margin-top: 4%;*/
    background-color: #99CC99;
}

header>div{
    overflow: hidden;
}

/*添加和试读按钮*/
header>div>a{
    width: 40px;
    height: 250px;
    margin-top: 25px;
    margin-left: 13px;
    float: left;
}
/*按钮里的文字*/
header>div>a>p{
    margin: 70px auto 0 auto;
}

/*标题盒子*/
#ttlbox{
    width: 100%;
    height: 100px;
    text-align: center;
    background-color: #003366;
    color: wheat;
    font-size: 60px;
}

/*图片盒子*/
#picbox{
    width: 250px;
    height: 250px;
    background-color: white;
    float: left;
    margin-top: 25px;
    margin-left: 130px;
    border: 4px solid royalblue;
    /*transform: rotate(30deg);*/
    /*transform: skewX(-30deg);*/
}

/*书内的图片,不能超过盒子*/
#picbox > img {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
}

/*书籍的描述盒子*/
#wordbox{
    width: 46%;
    height: 250px;
    float: left;
    margin-left: 20px;
    margin-top: 25px;
    background-color: #80bdff;
    font-size: 20px;
}

article{
    width: 100%;
    /*background-color: #9088ec;*/
    text-align: center;
}

/*回形针*/
#clip{
    width: 200px;
    height: 200px;
    position: absolute;
    top: 375px;
    left: 30px;
}


/*目录盒子*/
article>#catalog{
    width: 90%;
    margin: 0 auto;
    padding: 20px 0 20px 200px;
    text-align: left;
    background-color: #fff3cd;
}


/*留言盒子*/
article>#leave{
    width: 90%;
    margin: 0 auto;
    height: 400px;
    background-color: #80bdff;
}

/*提交表单*/
#leave>form{
    width: 100%;
    height: 100%;
    overflow: hidden;
}

/*文本区域*/
#leave>form>textarea{
    width: 90%;
    margin: 20px auto 0 auto;
    height: 80%;
    font-size: 50px;
}

/*按钮盒子*/
#leave>form>div{
    overflow: hidden;
    margin: 10px 0;
    padding-right: 170px;
}

/*盒子里的按钮*/
#leave>form>div>input{
    float: right;
    margin-right: 20px;
}

/*已经存在的留言*/
article>.exist{
    width: 90%;
    margin: 7px auto 7px auto;
    height: 240px;
    background-color: #f8d7da;
    overflow: hidden;
    border: 4px solid #9088ec;
}

/*用户昵称盒子(both)*/
article>.exist>.namebox{
    min-width: 14%;
    width: auto;
    height: 60px;
    background-color: #009966;
    color: white;
    font-size: 35px;
    margin-top: 40px;
}

/*任何A类盒子*/
article>.exist-A>*{
    float: right;
}

/*任何B类盒子*/
article>.exist-B>*{
    float: left;
}

/*用户头像盒子(both)*/
article>.exist>.usrpicbox{
    width: 200px;
    height: 200px;
    margin-top: 20px;
    margin-right: 20px;
    margin-left: 20px;
}

/*用户头像图片*/
article>.exist>.usrpicbox>img{
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    border-radius:50%;
}

/*用户留言盒子(both)*/
article>.exist>.lybox{
    width: 50%;
    height: 200px;
    margin-top: 20px;
    background-color: #FFFFCC;
    font-size: 30px;
}

/*加大双引号(both)*/
article>.exist>.lybox>span{
    font-size: 50px;
}