<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         id="WebApp_ID" version="3.0">
    <display-name>S2SH</display-name>

    <!--虚拟路径监听-->
    <servlet>
        <servlet-name>media</servlet-name>
        <servlet-class>org.apache.catalina.servlets.DefaultServlet</servlet-class>
        <init-param>
            <param-name>listings</param-name>
            <param-value>true</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>media</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>

    <!-- OpenSessionInViewFilter的配置 -->
    <filter>
        <filter-name>OpenSessionInViewFilter</filter-name>
        <filter-class>
            org.springframework.orm.hibernate4.support.OpenSessionInViewFilter
        </filter-class>
    </filter>
    <filter-mapping>
        <filter-name>OpenSessionInViewFilter</filter-name>
        <url-pattern>*.action</url-pattern>
    </filter-mapping>

    <!-- sturts2核心过滤器 -->
    <filter>
        <filter-name>struts2</filter-name>
        <filter-class>org.apache.struts2.dispatcher.ng.filter.StrutsPrepareAndExecuteFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>struts2</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <!-- Spring的监听器 -->
    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>
            /WEB-INF/applicationContext.xml
        </param-value>
    </context-param>
    
    <!-- 起始页面 -->
    <welcome-file-list>
        <welcome-file>main/main.jsp</welcome-file>
    </welcome-file-list>

    <!--一些Servlet,用于Ajax-->
    <!--添加到购物车-->
    <servlet>
        <servlet-name>addToCar</servlet-name>
        <servlet-class>org.ajax.AddToCarServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>addToCar</servlet-name>
        <url-pattern>/addToCar.servlet</url-pattern>
    </servlet-mapping>
    <!--用户修改收货信息-->
    <servlet>
        <servlet-name>msgOk</servlet-name>
        <servlet-class>org.ajax.MsgOkServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>msgOk</servlet-name>
        <url-pattern>/msgOk.servlet</url-pattern>
    </servlet-mapping>
    <!--根据ID搜索用户-->
    <servlet>
        <servlet-name>adFind</servlet-name>
        <servlet-class>org.ajax.AdminFindServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>adFind</servlet-name>
        <url-pattern>/adFind.servlet</url-pattern>
    </servlet-mapping>
    <!--根据ID删除用户-->
    <servlet>
        <servlet-name>adDel</servlet-name>
        <servlet-class>org.ajax.AdminDelServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>adDel</servlet-name>
        <url-pattern>/adDel.servlet</url-pattern>
    </servlet-mapping>
    <!--根据ID重置用户密码-->
    <servlet>
        <servlet-name>updP</servlet-name>
        <servlet-class>org.ajax.AdminUpdPswServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>updP</servlet-name>
        <url-pattern>/updP.servlet</url-pattern>
    </servlet-mapping>
    <!--根据ID修改用户卡券数量-->
    <servlet>
        <servlet-name>adUpd</servlet-name>
        <servlet-class>org.ajax.AdminUpdServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>adUpd</servlet-name>
        <url-pattern>/adUpd.servlet</url-pattern>
    </servlet-mapping>
    <!--根据ID查找书籍信息-->
    <servlet>
        <servlet-name>adFindBk</servlet-name>
        <servlet-class>org.ajax.AdminFindBkServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>adFindBk</servlet-name>
        <url-pattern>/adFindBk.servlet</url-pattern>
    </servlet-mapping>
    <!--根据ID删除用户-->
    <servlet>
        <servlet-name>adDelBk</servlet-name>
        <servlet-class>org.ajax.AdminDelBkServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>adDelBk</servlet-name>
        <url-pattern>/adDelBk.servlet</url-pattern>
    </servlet-mapping>
    <!--根据ID修改用户卡券数量-->
    <servlet>
        <servlet-name>adUpdBk</servlet-name>
        <servlet-class>org.ajax.AdminUpdBkServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>adUpdBk</servlet-name>
        <url-pattern>/adUpdBk.servlet</url-pattern>
    </servlet-mapping>
    <!--获取购物车中的详细信息-->
    <servlet>
        <servlet-name>getCar</servlet-name>
        <servlet-class>org.ajax.GetCarServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>getCar</servlet-name>
        <url-pattern>/getCar.servlet</url-pattern>
    </servlet-mapping>
    <!--用户使用优惠券-->
    <servlet>
        <servlet-name>saleOk</servlet-name>
        <servlet-class>org.ajax.SaleOkServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>saleOk</servlet-name>
        <url-pattern>/saleOk.servlet</url-pattern>
    </servlet-mapping>
    <!--用户操作购物车-->
    <servlet>
        <servlet-name>dealCar</servlet-name>
        <servlet-class>org.ajax.DealWithCarServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>dealCar</servlet-name>
        <url-pattern>/dealCar.servlet</url-pattern>
    </servlet-mapping>
    <!--用户确认订单-->
    <servlet>
        <servlet-name>gnrtOrdr</servlet-name>
        <servlet-class>org.ajax.GenerateOrderServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>gnrtOrdr</servlet-name>
        <url-pattern>/gnrtOrdr.servlet</url-pattern>
    </servlet-mapping>
</web-app>