html,body{
    height: 100%;
    width: 100%;
}
body{
    background-image: url("../WEB-PIC/01.jpg");
    padding-top: 70px;
}
header,article,footer{
    width: 100%;
}
header,footer{
    height: 10%;
    text-align: center;
}
article{
    height: 80%;
    padding-top: 8%;
}
header{
    /*background-color: #CCCCCC;*/
}
footer{
    /*background-color: #f8d7da;*/
}
h1,h4{
    color: white;
}