/*鼠标移动到一级导航*/
.navbar-nav > .nav-item > a:hover {
    background-color: #218838;
}

/*鼠标移动到下拉导航*/
.navbar-nav > .nav-item > .dropdown-menu > a:hover {
    background-color: #c3e6cb;
}

#nvb_hdbx{
    width: 40px;
    height: 40px;
    position: fixed;
    right: 30px;
    top: 8px;
}

#nvb_hdbx>img{
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    border-radius:50%;
}