/*为了让div的高度能使用页面的高度,html元素要设置100%的高度*/
html {
    height: 100%;
}

/*全体居中*/
body {
    margin: 0 auto;
    text-align: center;
    height: 100%;
    background-image: url("../WEB-PIC/Background/timg.jpeg");
}

/*中央区域*/
article {
    /*background-color: #f8d7da;*/
    width: 80%;
    float: top;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 70px;
    /*height: 1600px;*/
    overflow: hidden;
}

/*页脚*/
footer {
    margin-top: 10px;
    height: 50px;
    background-color: #979ea7;
    /*清理左右浮动，让它不受上面的浮动的干扰*/
    clear: both;
    color: #f2f2f2;
}

/*书籍盒子*/
.bookbox {
    width: 80%;
    margin: 10px auto;
    background-color: #f2f2f2;
    height: 220px;
    overflow: hidden;
}

/*书图片的盒子*/
.imgbox {
    width: 200px;
    height: 200px;
    margin-top: 10px;
    margin-left: 10px;
    float: left;
    background: #ffffff;
    border: 3px solid #6666CC;
    border-radius: 7px;
}

/*书内的图片,不能超过盒子*/
.imgbox > img {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
}

/*书信息盒子(右)*/
.msgbox {
    width: 70%;
    float: right;
    background-color: #CCCCFF;
    height: 90%;
    margin-top: 10px;
    margin-right: 10px;
}

/*三种奖牌*/
#no1,#no2,#no3{
    width: 128px;
    height: 128px;
    left: 110px;
}

/*金牌*/
#no1 {
    position: absolute;
    top: 128px;
}

/*银牌*/
#no2 {
    position: absolute;
    top: 358px; /*128+230*/
}

/*铜牌*/
#no3 {
    position: absolute;
    top: 588px;
}

/*排名号*/
.msgbox>h3{
    font-family: 'ChannelSlanted2';
    color: #dc0010;
}

/*购物车*/
#shopcar{
    width: 200px;
    height: 200px;
    position: fixed;
    top: 100px;
    right: 30px;
}

/*购物车上的小圆点*/
#circle{
    /*脱离和位置*/
    position: fixed;
    top: 195px;
    right: 55px;
}
