body{
    background-color: white;
}

/*图片总是尽量占满*/
img{
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
}


/*鼠标移动到一级导航*/
.navbar-nav > .nav-item > a:hover {
    background-color: #218838;
}

/*鼠标移动到下拉导航*/
.navbar-nav > .nav-item > .dropdown-menu > a:hover {
    background-color: #c3e6cb;
}

/*头部:放地址*/
header{
    margin-top: 60px;
    /*background-color: #abdde5;*/
    width: 100%;
    height: 150px;
    padding: 5px;
}

/*页脚*/
footer{
    text-align: center;
    height: 50px;
    background-color: #979ea7;
    /*清理左右浮动，让它不受上面的浮动的干扰*/
    clear: both;
    color: #f2f2f2;
    overflow: hidden;
}

/*左上角图标和字*/
#logandword{
    width: 100%;
    height: 110px;
    overflow: hidden;
}

/*左上角图标和字里的logo盒子*/
#logandword>.logobox{
    width: 100px;
    height: 100px;
    float: left;
}

/*左上角图标盒子里的字盒子*/
#logandword>.nextbox{
    color: #e59345;
    width: 200px;
    height: 100px;
    float: left;
    text-align: center;
    border-right: solid 2px #e59345;
}

/*字往下一些*/
#logandword>.nextbox>h2{
    margin-top: 15px;
}

/*确认订单信息的盒子*/
#logandword>.thirdbox{
    width: 200px;
    height: 100%;
    color: #444444;
    text-align: center;
    padding-top: 30px;
    float: left;
}

/*最右边免费服务热线*/
#logandword>.rgtbox{
    padding-top: 25px;
    float: right;
    margin-right: 20px;
}

/*右上角字*/
#logandword>.rgtbox>h4{
    color: #444444;
}

/*具体电话*/
#logandword>.rgtbox>h3{
    color: #e59345;
}


/*顶部水平线*/
#tophr{
    background-color: #e59345;
    height: 2px;
}

/*中央区域*/
article{
    /*background-color: #abdde5;*/
}

/*自定的样式大盒子,给[收货地址]和[优惠券选择]使用*/
.mybox{
    width: 80%;
    margin: 0 auto 10px;
    height: auto;
    border: solid #f6a456 3px;
    /*background-color: #9088ec;*/
    overflow: hidden;
}

/*里面的文字盒子*/
.mybox>div{
    width: 100%;
    margin: 10px;
    overflow: hidden;
    /*为了让子盒子相对自己定位*/
    position: relative;
}

/*里面的确认*/
.mybox>div>h4{
    float: left;
}

/*里面的管理*/
.mybox>div>a{
    float: left;
    margin-left: 11px;
    margin-top: 4px;
}

/*具体的收货地址*/
.mybox>h4{
    background-color: gray;
    color: white;
    text-align: center;
}

/*确认按钮*/
.mybox>button{
    float: right;
    margin-right: 200px;
    margin-bottom: 3px;
}

/*(3)装商品图片的盒子*/
.picbox{
    width: 200px;
    height: 200px;
    left: 20px;
    float: left;
    border: solid 2px #fff3cd;
}

/*(3)执行盒子*/
.dobox{
    width: 8%;
    height: 200px;
    float: left;
    margin-left: 8.5px;
    border: solid 2px #fff3cd;
    text-align: center;
}
/*(3)右边的文字盒子*/
.wordbox{
    width: 70%;
    height: 200px;
    margin-right: 20px;
    float: right;
    border: solid 2px #fff3cd;
}

/*按钮用绝对(相对relative父级)定位*/
.flybtn{
    position: absolute;
    left: 0;
    top: 0;
}

/*书的书名居中*/
.wordbox>h4{
    text-align: center;
}

/*订单盒子一旦出现即为绿色字底*/
#orderbox>h4{
    background-color: #b9e563;
    color: black;
}