body{
    background-image: url("../WEB-PIC/login.jpg");
}

#title-box {
    text-align: center;
    color: #FFFFFF;
}

#title-box h1{
    font-size: 70px;
    /*中文字(方方的)*/
    font-family:'JetLinkMediumOl1204ab18a51cc4a';
}

#title-box h3{
    /*中文字(方方的)*/
    font-family:'JetLinkMediumOl1204ab18a51cc4a';
}

#title-box h4 {
    /*英文字*/
    font-family: 'ChannelSlanted2';
}

.container {
    text-align: center;
    width: 700px;
    height: 420px;
    margin: 0 auto;
    background: rgba(230, 240, 240, 0.3);
}

.form-group {
    width: 400px;
    display: inline-block;
}

button {
    display: inline-block;
}