/*背景色*/
body{
    background-image: url("../WEB-PIC/regist.jpg");
}

/*用户协议*/
#usrPrtcl{
    color:#fed04e;
}

/*标题*/
#title-box {
    text-align: center;
    color: #FFFFFF;
}

.form-check-label{
    color: #FFFFFF;
}

/*二级标题*/
#title-box h4 {
    font-family: 'jdlibianjian11e0a624501cc4a';
}

/*一级标题*/
#title-box h1 {
    font-size: 50px;
    font-family: 'ChannelSlanted2';
}

.container {
    text-align: center;
    width: 700px;
    height: 420px;
    margin: 0 auto;
    background: rgba(230, 240, 240, 0.3);
}

.form-group {
    width: 400px;
    display: inline-block;
}

button {
    display: inline-block;
}